body {
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}

main {
    margin-top: 5%;
    text-align: center;
}
.header{
    padding-top: 0px;
    font-size: 48px;
}

.navbar {
    text-align: left;
    background-color: #e5e5e5;
}
.nav-logo {
    border-radius: 15%;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

#login{
    margin-top: 30px;
    font-size: 24px;
}

.home-banner {
    margin-top: 15%;
    margin-bottom: 40px;
}

.home-banner h1 {
    font-size: 36px;
}

.login-section {
    margin: 30px;
    padding: 30px;
}

.login-button {
    font-size: 15px;
    background-color: #fcc7c7;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-button:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    transition: 0.5s;
}
a:hover {
    text-decoration: none;
    color: black;
}
.item {
    margin: 20px;
}

/* home.html */

form {
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    text-align: left;
}

.form-group label {
    margin-right: 20px;
    font-size: 30px;
    width: 300px;
}

.form-group button {
    margin-left: 20px;
}

.form-group input {
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    width: 300px;
}

.hospital-entry {
    margin: 20px;
}

.hospital-entry {
    font-size: 20px;
}
.request-button {
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

#sign-up {
    font-size: 48px;
}

#login-header {
    font-size: 48px;
}

.margin-bottom {
    margin-bottom: 40px;
}

#search-input {
    width: 50%;
}

.item{
    margin:50px;;
}

/* myInventory.html */
.title{
    margin-top: 40px;
    text-decoration: underline;
}

/*request.html */
.btn, .btn-primary{
    width:200px;
    margin: 2px;
}

.card {
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    margin: 20px;
    padding: 10px;
}