<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hospilink</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <script src="/static/jquery-3.5.1.min.js"></script>
    <script src="/static/script.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        #request_item {
        width: 300px;
        border: 15px solid rgba(114, 176, 204, 0.452);
        padding: 50px;
        margin: 20px;
    }
    </style>

</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-custom navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="index"><img class="scale nav-logo" src="static/img/heart.png" height="40px" alt="heart home button"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
          </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="myInventory">My Inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="requests">Requests</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="logout">Log Out</a>
            </li> -->
          </ul>
        </div>
      </nav>
      
    <main>
       

        <div class="container">
            <h2>Modal Example</h2>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
          
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Request Item</h4>
                  </div>
                  <div class="modal-body">

                    <form id = "request_item">
                      <div class="form-group">
                        <label for="fname">First Name</label>
                        <input type="text" class="form-control" id="fname">
                      </div>
                      <div class="form-group">
                          <label for="'lname">Last Name</label>
                          <input type="text" class="form-control" id="lname">
                      </div>
                      <div class="form-group">
                          <label for="hospital name">Hospital</label>
                          <input type="text" class="form-control" id="hospital name">
                      </div>
                      <div class="form-group">
                          <label for="quantity">Quantity </label>
                          <input type="number" id="quantity" name="quantity" min="1" >
                      </div>
                  </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
                
              </div>
            </div>
            
          </div>



    </main>

    
</body>

</html>
